.newcandidature{
    margin-top: 6rem;
    margin-bottom: 10rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;

    .newcandidature-container{

        padding: 0;

        .newcandidature-head{

            border-bottom: 2px solid black;

            .newcandidature-header{

                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1rem 2rem;
                text-align: center;

                .newcandidature-img{
                    height: 128px;
                    width: 95.703px;
                    margin-right: 2rem; 
                }
            }
        }

        .newcandidatureOk{
            margin: 2rem auto 20rem auto;
            text-align: center;

            .newcandidatureOk-h2{
                font-size: 2rem;
            }

            .newcandidatureOk-p{

                font-size: 1.5rem;

                .newcandidatureOk-p-link{

                    color: #ce4710;

                    &:hover{
                        text-decoration: underline;
                    }

                }
            }
        }

        .newcandidature-content{

            padding: 2rem;

            & p{
                font-size: 1.5rem;
                padding: 1rem;
            }

            & a{
                &:hover{
                    color: #ce4710;
                }
            }

            .newcandidature-textarea{
                display: flex;
                margin: 1rem;

                .emoji-mart{
                
                    @media only screen and (max-width: 767px){
                        width: 100% !important;
                    }
                }
    
                @media only screen and (max-width: 767px){
                    display: block;
                    margin: 0;
                }
            }

            .newcandidature-send{

                text-align: center;

                .newcandidature-input{
                    input{
                        margin-left: 0.6rem;
                    }
                }

                button{
                    font-size: 1.5rem;
                }

            }

            .ReCAPTCHA{

                margin: 2rem 1rem;
                text-align: center;

                @media only screen and (max-width: 767px){
                    width: 100% !important;
                    margin: 0;
                }

                .newcandidatureNop{
                    background-color: rgb(214, 130, 130);
                    text-align: center;
                    margin: 1rem;
                }

                .contact-send-input{
                    background-color: #ce4710;
                    color: white;
                    font-size: 1.5rem;
                    padding: 0.5rem 1rem;
                    border-radius: 50px;
                }
            }
        }
    }
}