@import "react-slideshow-image/dist/styles.css";


.slide-content{
    //margin-bottom: 2rem;
    height: 500px;
    background-size: cover;
    color: #212529;

    .slide-card-welcom{

        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slide-card-welcom-head{

            .slide-card-welcom-header{

                .slide-card-welcom-title{

                    & span{
                        color:#ce4710;
                    }
                }

                .slide-card-welcom-logo{
                    height: 5rem;
                }
            }

            .slide-card-welcom-text{

                span{
                    color:#ce4710;
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                p{
                    font-size: 1.7rem;
                    font-weight: 600;

                    a{
                        padding: 0.5rem 0.8rem;
                        border-radius: 20px;
                        box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;

                        &:hover{
                            text-decoration: none;
                            background-color: #ce4710;
                            //color: #212529;
                            color: #f8f9fa;
                        }
                    }
                }
            }
        }
        
        .slide-welcom-decort-reverse{

            align-self: flex-end !important;

            img{
                height: 500px;
            }
        }

        .slide-welcom-decort{

            align-self: flex-end !important;
                
            img{
                height: 500px;
            }
        }
    }
}