body{
    min-height: 100%;
    position: relative;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    background:linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)),url(https://theindependentgamers.fr/images/bg.png);
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h2,h3,h4,h5,h6{
    font-family:Raleway
} 

p{
    line-height:1.75
}