.jeu{

  .jeu-head{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    text-align: center;


    @media only screen and (max-width: 767px){
      display: block;
    }

    .jeu-title{
      font-size: 3rem;
      margin: 0;
    }

    .jeu-img{
      height: 128px;
      width: 95.703px;
      margin-right: 2rem; 

      @media only screen and (max-width: 767px){
        margin-right: 0; 
      }
    }
  }

  .jeu-content{

    text-align: center;
    margin-bottom: 2rem;

    .jeu-card{

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .jeu-card-content{

        margin: 2rem;
        width: 210px;
        // box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
        padding: 1rem;

        .jeu-card-img{
          border-radius: 50%;
          width: 150px;
          height: 150px;
        }

        .jeu-card-name{
          font-size: 1.7rem;
          text-transform: capitalize;
        }

      }

    }
  }

}