.postcandidature{
    margin-top: 5rem;
    margin-bottom: 10rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;

    .postcandidature-container{

        .postcandidature-header{


            padding: 2rem !important;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px black solid;

            .postcandidature-img{
                height: 128px;
                margin-right: 2rem; 
            }

            .postcandidature-title{

            }
        }

        .postcandidature-retour{
            font-size: 2rem;
        }


        .postcandidature-content{

            margin-top: 2rem;

            h2{
                text-align: center;
                font-size: 3rem;
            }

            .postcandidature-content-header{

                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;

                .postcandidature-content-info{

                    .postcandidature-content-status_Nouveau{
                        font-size: 2rem;
                        color: rgb(58, 144, 224);
                    }
                    .postcandidature-content-status_Test{
                        font-size: 2rem;
                        color: rgb(224, 177, 58);
                    }
                    .postcandidature-content-status_Accéptée{
                        font-size: 2rem;
                        color: rgb(134, 207, 50);
                    }
                    .postcandidature-content-status_Refusée{
                        font-size: 2rem;
                        color: rgb(161, 29, 29);
                    }

                    .postcandidature-content-author{
                        font-size: 2.5rem;
                    }

                }

                .postcandidature-content-date{
                    font-size: 2rem;
                }
            }

            .postcandidature-response{
                padding: 1rem;
                font-size: 1.5rem;

                & p {
                    white-space: pre-wrap;
                }
            }

            .postcandidature-reponse{

                padding: 2rem;
                text-align: center;

                .postcandidature-reponse-link{
                    cursor: pointer;
                    border-radius: 10px;
                    padding: 0.5rem !important;
                    text-decoration: none;
                    font-size: 2rem;
                }
            }

            .postcandidature-coment{
                padding: 1rem;
                border-bottom: 2px solid black;
                margin: 2rem;

                .postcandidature-coment-info{
                    display: flex;
                    justify-content: space-between;

                    @media only screen and (max-width: 767px){
                        display: block;
                    }

                    .postcandidature-coment-auteur{
                        text-align: left;
                        color:#ce4710;
                        font-size: 1.5rem;
                    }
                }

                .postcandidature-coment-content{
                    padding: 1rem;
                    font-size: 1.2rem;
                    white-space: pre-wrap;
                }
            }
        }
    }

    .postcandidature-textarea{
        margin: 1rem;
        text-align: center;

        .postcandidature-textarea-input{
            display: flex;
            margin: 2rem 10rem;
            .emoji-mart{
                
                @media only screen and (max-width: 991px){
                    display: none;
                }
            }

            @media only screen and (max-width: 767px){
                display: block;
                margin: 0;
            }
        }

        .ReCAPTCHA{
            margin: 2rem 10rem;

            @media only screen and (max-width: 767px){
                width: 100% !important;
                margin: 0;
            }

            .contact-send-input{
                background-color: #ce4710;
                color: white;
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
                border-radius: 50px;
            }
        }
    }
}