body{
    min-height: 100%;
    position: relative;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}