.profil{

    margin-top: 3rem !important;
    margin-bottom: 3rem;
    color: white;
    padding-top: 3rem !important;
    padding-bottom: 3rem;
    width: 25rem;
    margin: 2rem auto 2rem auto;
    background-color: rgba(88, 46, 32, 0.5) !important;

    .profil-title{
        text-align: center;
    }
}