.twitch{

    margin-bottom: 3rem;

    & img{
        width: 150px;
        height: 150px;
        background-color: white;
    }

    p{
        color: #212529 !important;
        font-size: 1.2rem;
    }

    .twitch-container{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px auto;

        .choise{
            //box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
            padding: 10px 10px;
            height: 200px;
            width: 200px;
            margin: 15px;
            transition: all 0.4; 
            border-radius: 30px;

            &:hover{
                transform: translateY(-5px);
            }
            cursor: pointer;
        }
    }

    .containerDecale{
        margin: 0 30px 0 30px;
    }

    @media only screen and (max-width: 991px) {
        .containerDecale{
            margin: 0 0 0 0;
        }
    }

    @media only screen and (max-width: 936px) {


        & img{
            width: 50px;
            height: 50px;
            background-color: white;
        }

        .twitch-container{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 50px auto;
    
            .choise{
                padding: 10px 10px;
                height: 75px;
                width: 75px;
                margin: 15px;
                position: relative;
                transition: all 0.4; 
                border-radius: 10px;
                box-shadow: 2px 11px 36px -16px rgba(0,0,0,0.75);
    
                &:hover{
                    transform: translateY(-5px);
                }
                cursor: pointer;

                .text-card-twitch{
                    display: none;
                }
            }
        }
    }
}