

.header{
    padding: 0.5rem;
    background-color: #212529;
    align-items: center;

    .header-content{

        display: flex;

        .header-img{

            display: flex;
            align-items: center;
            margin-left: 1rem; 
            margin-right: 1rem;

            #logo{
                height: 4rem;
            }
        }

        .header-nav{

            align-self: center;
            width: 100%;

            .nav-content{
                background-color: #212529 !important;
                padding: 0 !important;
        
                .navbar-toggler{
                    color: white;
                    border: 2px solid white ;
                    border-radius: 10px;
                }   
        
                .fa-bars{
                color: white;
                }
        
                .nav-title{
                    display: none;
                    color: white !important;
                    text-align: center;
                    font-family: 'Yanone Kaffeesatz', sans-serif;
                    font-size: 1.5rem;
                }
                
                .navbar-toggler-icon{
                    color: white;
                }
                
                .nav-link, .nav-item{
                    color:white !important;
                    font-weight:800 !important;
                    &:hover , &:hover{
                        color:goldenrod !important;
                    }
                }
        
                .nav-login{
                    align-self: center;
                    background-color: #ce461086;
                    cursor: pointer;
                    border-radius: 0 30px 0 30px;
                    position: absolute;
                    right: 2rem;
                    padding: 0.4rem !important;

                    &:hover {
                        background-color:goldenrod !important;
                    }

                    & a:hover{
                        color:white !important;
                    }
                }
        
        
        
                .nav-logged{
        
                    .btn.focus, .btn:focus {
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
                    }
        
                    .dropdown-item.active, .dropdown-item:active{
                        background-color: #ce4610ef;
                    }
        
                    & button {
                        color:white !important;
                        font-weight:800 !important;
                        background-color: rgba(255, 255, 255, 0);
                    }
                    cursor: pointer;
                    border-radius: 10px;
                    position: absolute;
                    right: 2rem;
                    padding: 0 !important;
        
                    .dropdown-menu{
                        right: 0%;
                        left: auto !important;
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 991px) {
    .header{

        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;

        .header-content{
            display: block;
            justify-content: center;
            .header-img{
                margin: 0 !important;
                color: white !important;

                .header-img{
                    margin-left: 0 !important; 
                    margin-right: 0 !important;
                    margin: 2rem auto !important;
                }
            }
        
            .header-title {
                display: none;
            }
        }

        .nav-content{

            justify-content: center !important;
            align-items: center;
            
            .nav-title{
                display: block !important;
                margin-left: 0.5rem;
                padding: 0 !important;
                margin-right: 0;
            }

            .navbar-collapse{

                .navbar-nav{

                    .nav-login{
                        background-color: #ce461086;
                        cursor: pointer;
                        border-radius: 0 30px 0 30px;
                        position: relative;
                        right: 0;
                        padding: 0.4rem !important;
                    }
        
                    .nav-logged{
                        cursor: pointer;
                        border-radius: 10px;
                        position: relative;
                        right: 0;
                        padding: 0 !important;
            
                        .dropdown-menu{
                            position: relative !important;
                            right: auto !important;
                            left: auto !important;
                            text-align: center;
                            transform: translate(0px, 0px) !important;
                        }
                    }

                }
            }
        }
    }
}