.recrutement{
    margin-top: 5rem;
    margin-bottom: 10rem;

    .recrutement-container{

        padding: 0 !important;
        display: flex;

        .recrutement-head{

            width: 33%;
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 3rem;

            .recrutement-header{

                text-align: center;

                .recrutement-img{
                    height: 128px;
                    width: 95.703px;
                    margin: auto;                }

                .recrutement-title-sm{
                    display: none;
                    font-family: Raleway, Helvetica, Arial, sans-serif;
                }
    
                .recrutement-title{
                    text-align: center;
                    font-family: Raleway, Helvetica, Arial, sans-serif;
                }
            }

            .recrutement-before{
                text-align: center;
                padding-top: 2rem;
                margin: auto 1rem;
                 & h3{
                    font-size: 1.5rem;
                 }

                & a{
                    color: #b23f21;
                }
            }

            .recrutement-new{
                
                margin-top: 2rem;
                text-align: center;

                .recrutement-new-link{
                    color: #b23f21;
                    border-radius: 10px;
                    font-size: 2rem;
                    
                }
            }
        }

        .recrutement-content{
            margin-left: 33%;
            width: 66%;

            .recrutement-article{

                display: flex;
                margin: 2rem;
                padding: 1rem;
                //height: 150px;
                border-bottom: 2px solid black;

                .recrutement-article_header{
                    width: 25% !important;
                    margin-left: 2rem;

                    .recrutement-article_header_author{
                        font-weight: 700;
                        margin: 0 1rem !important;
                        font-size: 1.8rem;
                        color: #b23f21;
                    }

                    .recrutement-article_header_status{
                        margin: 0 1rem !important;
                        font-size: 1.5rem;
                    }

                    .recrutement-article_header_date{
                        margin: 0 1rem !important;
                        font-size: 0.8rem;
                    }
                }

                .recrutement-article_content{

                    h4{
                        font-weight: 700;
                        color: #b23f21;
                    }

                    width: 65%;
                    overflow:hidden;
                    text-overflow: ellipsis;
                }

                .recrutement-article_readMore{
                    width: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

        }
    }
}

@media only screen and (max-width: 991px) {
    .recrutement{
    
        .recrutement-container{

            flex-direction: column;
    
            .recrutement-head{
    
                width: 100%;
                position: relative;
            }
    
            .recrutement-content{
                margin-left: 0;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 770px) {
    .recrutement{
    
        .recrutement-container{
    
            .recrutement-content{
                margin-left: 0;
                width: 100%;
    
                .recrutement-article{

                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin: 1rem;
    
                    .recrutement-article_header{
                        
                        display: none;
    
                    }
    
                    .recrutement-article_content{
    
                        h4{
                            font-weight: 700;
                            color: #b23f21;
                        }
    
                        width: 65%;
                        overflow:hidden;
                        text-overflow: ellipsis;
                    }
    
                    .recrutement-article_readMore{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
    
            }
        }
    }
}