.profil{

    margin: 5rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    border-radius: 30px 30px 50px 50px;
    border: 3px solid #212529;

    .profil-form{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px 30px 50px 50px;
        padding: 2rem;
        background-color: #212529;
        width: 320px;
    }

    .profil-title{
        text-align: center;
    }
}