.event{ 

    .event-title{
        margin: 6rem 2rem 2rem 2rem;
        text-align: center;
        font-size: 3rem;
    }

    .event-text{
        margin: 2rem;
        font-size: 1.5rem;
    }

    .event-calandar{
        margin-bottom: 2rem;
    }

}