.toread{
    margin-top: 5rem;
    margin-bottom: 10rem;

    .toread-container{

        padding: 0 !important;

        .toread-head{

            .toread-header{

                display: flex;
                align-items: center;
                justify-content: center;

                .toread-img{
                    height: 128px;
                    width: 95.703px;
                    margin-left: 1rem; 
                    margin-right: 1rem; 
                }

                .toread-title{
                    margin-bottom: 0 !important;
                    font-family: Raleway, Helvetica, Arial, sans-serif;
                    text-align: center;
                    font-size: 2rem;
                }
            }
        }

        .toread-content{
            padding: 1rem;

            .toread-new{

                padding: 2rem;
                text-align: center;

                .toread-new-link{
                    
                    cursor: pointer;
                    border-radius: 10px;
                    padding: 0.5rem;
                    text-decoration: none;
                    font-size: 2rem;

                    &:hover{
                        color: #ce4710;
                        text-decoration: underline;
                    }
                    
                }
            }

            h3{
                font-size: 2rem;
                padding: 1rem;
                color:#ce4710;
            }

            p{
                font-size: 1.2rem;
            }
        }
    }
}