.Delete{
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    transform: translateZ(1px);
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.637);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}