@import "react-slideshow-image/dist/styles.css";


.slide-content{
    //margin-bottom: 2rem;
    height: 500px;
    background-size: cover;
    color: #212529;

    .slide-card-welcom{

        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slide-card-welcom-head{

            .slide-card-welcom-header{

                .slide-card-welcom-title{

                    & span{
                        color:#ce4710;
                    }
                }

                .slide-card-welcom-logo{
                    height: 5rem;
                }
            }

            .slide-card-welcom-text{

                span{
                    color:#ce4710;
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                p{
                    font-size: 1.7rem;
                    font-weight: 600;

                    a{
                        padding: 0.5rem 0.8rem;
                        border-radius: 20px;
                        // box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;

                        &:hover{
                            text-decoration: none;
                            background-color: #ce4710;
                            //color: #212529;
                            color: #f8f9fa;
                        }
                    }
                }
            }
        }
        
        .slide-welcom-decort-reverse{

            align-self: flex-end !important;

            img{
                height: 500px;
            }
        }

        .slide-welcom-decort{

            align-self: flex-end !important;
                
            img{
                height: 500px;
            }
        }
    }
}


.home-card{

    height: 300px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    overflow-x: inherit;

    .parallax-custom{

    
        .parallax-inner{
    
                .home-card-content{
    
                    margin: 2rem;
                    width: 210px;
                    // box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
                    padding: 1rem;
                    position: sticky;
                    text-align: center;

            
                    .home-card-img{
            
                        border-radius: 50%;
                        width: 150px;
                        height: 150px;
            
                    }
            
                    .home-card-name{
                        font-size: 1.7rem;
                        text-transform: capitalize;
                    }
                }
            }
        }

}

@media only screen and (max-width: 991px) {
    @import "react-slideshow-image/dist/styles.css";


.slide-content{

    .slide-card-welcom{

        .slide-card-welcom-head{

            .slide-card-welcom-text{

                p{

                    a{
                        box-shadow: none;
                    }
                }
            }
        }
        
        .slide-welcom-decort-reverse{

            display: none;

        }

        .slide-welcom-decort{

            display: none;
                
        }
    }
}
}