.home{
  margin-top: 10rem;
  margin-bottom: 15rem;
  background: transparent !important;

  .home-text span{
      color:#ce4710;
  }
  
  .home-title{
      padding: 1rem;
      border-bottom: 1px black solid;
  }
}

@media only screen and (max-width: 991px) {
  .home{
      text-align: center;
  }
}