.Home {
    text-align: center;
    background-color: #282c34;

    .Home-content {
      min-height: 100vh;

      .Home-ul{
        background-color: #69768f85;
        width: 100%;
        padding: 30px;
        min-height: 100vh;
        margin: 0;

        .Home-li{
          align-items: center;
          display: flex;
          width: 100%;
          list-style: none;
          background-color: #ffffff7c;
          padding: 1rem;
          border-radius: 20px;
          margin: 1rem 0;

          & a{
            color: white;
          }

          & h3{
            flex-grow: 4;
            text-align: left;
          }

          & button{
            margin-right: 1rem;
          }
        }
      }
    }
  }

@media only screen and (max-width: 991px) {
  .Home {

    .Home-content {

      .Home-ul{

        .Home-li{
          flex-direction: column;

          & h3{
            text-align: center;
          }

          & button{
            margin-right: 0;
            margin: 0 0 1rem 0;
            display: block;
          }
        }
      }
    }
  }
}