.Single {
    text-align: center;
    background-color: #282c34;

    .Single-content {
      min-height: 100vh;
      background-color: #69768f85;
      color: white;
    }
  }

@media only screen and (max-width: 991px) {
  .Home {

    .Home-content {

      .Home-ul{

        .Home-li{
          flex-direction: column;

          & h3{
            text-align: center;
          }

          & button{
            margin-right: 0;
            margin: 0 0 1rem 0;
            display: block;
          }
        }
      }
    }
  }
}